page-recetas {
    

    .sub-title, .big-title{
        color: $second-color;
        font-size: 14px;
        line-height: 17px;
    }

    

    .category-button{
        border: 0;
        position: relative;
        //border-radius: 12px;
        box-shadow: 0 0 0 0 transparent;


        button{
            width: 100%;
            img{
                display: block;
                width: 100%;
            }
        }


        .card-title{
            background: $primary-color;
            height: 30px;
            position: absolute;
            bottom: 0;
            line-height: 30px;
            font-weight: 500;
            font-size: 1.2em;
            text-transform: uppercase;
            font-family: 'montserratbold';
        }
    }

    ion-card{
        .card-title{
            font-family: 'montserratbold';
        }
    }
}
