page-ejercicios-select {

    
    .content-sub_title{
        background: #f9f9f9;
        display: block;
        height: auto;
        width: 100%;
        overflow: hidden;
        padding: 20px;

        img{
            display: block;
            margin: 0 auto;
            width: 90%;
            max-width: 100px;
        }
    }
}
