// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1cc9a2,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  whatsapp:   #25d366,
  ico-water-outline:  rgb(34, 12, 234),
  ico-preguntas:  #0CA9EA,
  ico-alimentos:  #E63135,
  ico-ejercicios:  #F46529,
  ico-ios-mail: #a8eb12,
  ico-terminos:  #FFD439,
  white:  #FFF,
  trasparent: transparent
);


//$primary-color:#57c3b6;
$primary-color: #28e8bd;
$second-color:#999;

$login-buton: #0CA9EA;


$font-primary-regular: 'montserratregular';
$font-primary-semibold: 'montserratsemibold';
$font-primary-bold: 'montserratbold';
$font-primary-light: 'montserratlight';

$bg-gradient: linear-gradient(to right top, #28e8bd, #19e9c8, #09ead2, #05ebdc, #12ebe5);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
