<!--
  Generated template for the EjerciciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

      <ion-buttons start >
        <button ion-button icon-only>
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>EJERCICIOS</ion-title>
      <ion-buttons end >
          <button ion-button icon-only>
            <ion-icon name="ios-mail"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

  <ion-card class="category-button" *ngFor="let ej of ejercicios">
      <div *ngIf="ej.acf.usuarios.user_email == email" >
      <button (click)="singleEjercicios(ej.id)">
        <img src="{{ej.acf.imagen_ejercicio.sizes.medium}}" alt="">
        <div class="card-title">{{ej.title.rendered}}</div>
    </button>
    </div>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></button>
    <ion-fab-list side="left">
      <button class="button-reserva" ion-fab> RESERVA TU HORA</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
